/.vscode/*
BasSim.code-workspace
Research/.~lock.papers.xls#
Research/~$papers.xlsx
~$papers.xlsx
OWF/.vs/OWF/v16/Browse.VC.db
OWF/.vs/OWF/v16/Browse.VC.opendb
OWF/.vs/OWF/v16/ipch/AutoPCH/79d511825df95bfb/OPTIMISER.ipch
OWF/Optimiser/x64/Debug/Optimiser.obj
OWF/Optimiser/x64/Debug/Optimiser.tlog/CL.read.1.tlog
OWF/Optimiser/x64/Debug/vc142.idb
OWF/Optimiser/x64/Debug/vc142.pdb
OWF/x64/Debug/Optimiser.exe
OWF/x64/Debug/Optimiser.ilk
OWF/x64/Debug/Optimiser.pdb
Code/.vs/OWF/v16/.suo
Code/.vs/OWF/v16/Browse.VC.db
Code/.vs/OWF/v16/ipch/AutoPCH/54a43b35f5a76f03/OPTIMISER.ipch
Code/.vs/OWF/v16/ipch/AutoPCH/79d511825df95bfb/OPTIMISER.ipch
Code/Optimiser/x64/Debug/Optimiser.log
Code/Optimiser/x64/Debug/Optimiser.obj
Code/Optimiser/x64/Debug/Optimiser.tlog/CL.command.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/CL.read.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/CL.write.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/link.command.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/link.read.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/link.write.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/Optimiser.lastbuildstate
Code/Optimiser/x64/Debug/vc142.idb
Code/Optimiser/x64/Debug/vc142.pdb
Code/x64/Debug/Optimiser.exe
Code/x64/Debug/Optimiser.ilk
Code/x64/Debug/Optimiser.pdb
Code/.vs/OWF/v16/Browse.VC.opendb
Code/.vs/OWF/v16/ipch/AutoPCH/37b0d3981935929b/OPTIMISER.ipch
*.lp
TimeScheduler/__pycache__/scheduler.cpython-38.pyc
TimeScheduler/build/scheduler/Analysis-00.toc
TimeScheduler/build/scheduler/base_library.zip
TimeScheduler/build/scheduler/EXE-00.toc
TimeScheduler/build/scheduler/PKG-00.pkg
TimeScheduler/build/scheduler/PKG-00.toc
TimeScheduler/build/scheduler/PYZ-00.pyz
TimeScheduler/build/scheduler/PYZ-00.toc
TimeScheduler/build/scheduler/scheduler.exe.manifest
TimeScheduler/build/scheduler/warn-scheduler.txt
TimeScheduler/build/scheduler/xref-scheduler.html
TimeScheduler/dist/scheduler.exe
TimeScheduler/scheduler.spec
Code/Optimiser/install.sol
Code/Optimiser/~$SolutionChecker.xlsx
Code/Optimiser/~$RowCol calcs.xlsx
*.sol
Code/Optimiser/Output files/lifeWeekSubmodes.csv
Code/Optimiser/Output files/lifeWeekSettings.csv
Code/Optimiser/Output files/lifeWeekModes.csv
Code/Optimiser/Output files/lifeSimpleSubmodes.csv
Code/Optimiser/Output files/lifeSimpleSettings.csv
Code/Optimiser/Output files/lifeSimpleModes.csv
*.log
*.xtr
Code/Optimiser/x64/Debug/Stochastic.obj
Code/Optimiser/x64/Debug/Optimiser.vcxproj.FileListAbsolute.txt
Code/Optimiser/x64/Debug/Mode.obj
Code/Optimiser/x64/Debug/Main.obj
Code/Optimiser/x64/Debug/Deterministic.obj
*.ipch
Code/Optimiser/Output files/stoYearLRSubmodes.csv
Code/Optimiser/Output files/stoYearLRSettings.csv
Code/Optimiser/Output files/stoYearLRModes.csv
*.ipch
Code/Optimiser/Output files/stoYearMRModes.csv
Code/Optimiser/Output files/stoYearLR2Modes.csv
MovieSoundtrackQuiz.txt
Code/.vs/OWF/v16/Solution.VC.db-shm
Code/.vs/OWF/v16/Solution.VC.db-wal
Code/x64/Debug/Overlap.pdb
Code/x64/Debug/Overlap.ilk
Code/x64/Debug/Overlap.exe
*.obj
*.tlog
Code/Overlap/x64/Debug/vc142.idb
Code/Overlap/x64/Debug/vc142.pdb
Code/Overlap/x64/Debug/Overlap.vcxproj.FileListAbsolute.txt
Code/Overlap/x64/Debug/datagen.obj.enc
