/.vscode/*
BasSim.code-workspace
Research/.~lock.papers.xls#
Research/~$papers.xlsx
~$papers.xlsx
OWF/.vs/OWF/v16/Browse.VC.db
OWF/.vs/OWF/v16/Browse.VC.opendb
OWF/.vs/OWF/v16/ipch/AutoPCH/79d511825df95bfb/OPTIMISER.ipch
OWF/Optimiser/x64/Debug/Optimiser.obj
OWF/Optimiser/x64/Debug/Optimiser.tlog/CL.read.1.tlog
OWF/Optimiser/x64/Debug/vc142.idb
OWF/Optimiser/x64/Debug/vc142.pdb
OWF/x64/Debug/Optimiser.exe
OWF/x64/Debug/Optimiser.ilk
OWF/x64/Debug/Optimiser.pdb
Code/.vs/OWF/v16/.suo
Code/.vs/OWF/v16/Browse.VC.db
Code/.vs/OWF/v16/ipch/AutoPCH/54a43b35f5a76f03/OPTIMISER.ipch
Code/.vs/OWF/v16/ipch/AutoPCH/79d511825df95bfb/OPTIMISER.ipch
Code/Optimiser/x64/Debug/Optimiser.log
Code/Optimiser/x64/Debug/Optimiser.obj
Code/Optimiser/x64/Debug/Optimiser.tlog/CL.command.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/CL.read.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/CL.write.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/link.command.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/link.read.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/link.write.1.tlog
Code/Optimiser/x64/Debug/Optimiser.tlog/Optimiser.lastbuildstate
Code/Optimiser/x64/Debug/vc142.idb
Code/Optimiser/x64/Debug/vc142.pdb
Code/x64/Debug/Optimiser.exe
Code/x64/Debug/Optimiser.ilk
Code/x64/Debug/Optimiser.pdb
Code/.vs/OWF/v16/Browse.VC.opendb
Code/.vs/OWF/v16/ipch/AutoPCH/37b0d3981935929b/OPTIMISER.ipch
*.lp
TimeScheduler/__pycache__/scheduler.cpython-38.pyc
TimeScheduler/build/scheduler/Analysis-00.toc
TimeScheduler/build/scheduler/base_library.zip
TimeScheduler/build/scheduler/EXE-00.toc
TimeScheduler/build/scheduler/PKG-00.pkg
TimeScheduler/build/scheduler/PKG-00.toc
TimeScheduler/build/scheduler/PYZ-00.pyz
TimeScheduler/build/scheduler/PYZ-00.toc
TimeScheduler/build/scheduler/scheduler.exe.manifest
TimeScheduler/build/scheduler/warn-scheduler.txt
TimeScheduler/build/scheduler/xref-scheduler.html
TimeScheduler/dist/scheduler.exe
TimeScheduler/scheduler.spec
Code/Optimiser/install.sol
Code/Optimiser/~$SolutionChecker.xlsx
Code/Optimiser/~$RowCol calcs.xlsx
*.sol
Code/Optimiser/Output files/lifeWeekSubmodes.csv
Code/Optimiser/Output files/lifeWeekSettings.csv
Code/Optimiser/Output files/lifeWeekModes.csv
Code/Optimiser/Output files/lifeSimpleSubmodes.csv
Code/Optimiser/Output files/lifeSimpleSettings.csv
Code/Optimiser/Output files/lifeSimpleModes.csv
*.log
*.xtr
Code/Optimiser/x64/Debug/Stochastic.obj
Code/Optimiser/x64/Debug/Optimiser.vcxproj.FileListAbsolute.txt
Code/Optimiser/x64/Debug/Mode.obj
Code/Optimiser/x64/Debug/Main.obj
Code/Optimiser/x64/Debug/Deterministic.obj
*.ipch
Code/Optimiser/Output files/stoYearLRSubmodes.csv
Code/Optimiser/Output files/stoYearLRSettings.csv
Code/Optimiser/Output files/stoYearLRModes.csv
*.ipch
Code/Optimiser/Output files/stoYearMRModes.csv
Code/Optimiser/Output files/stoYearLR2Modes.csv
MovieSoundtrackQuiz.txt
Code/.vs/OWF/v16/Solution.VC.db-shm
Code/.vs/OWF/v16/Solution.VC.db-wal
Code/x64/Debug/Overlap.pdb
Code/x64/Debug/Overlap.ilk
Code/x64/Debug/Overlap.exe
*.obj
*.tlog
Code/Overlap/x64/Debug/vc142.idb
Code/Overlap/x64/Debug/vc142.pdb
Code/Overlap/x64/Debug/Overlap.vcxproj.FileListAbsolute.txt
Code/Overlap/x64/Debug/datagen.obj.enc
Code/Overlap/x64/Debug/monthmodel.new.obj.enc
Data/~$Installation_data_RK.xlsx
Code/Overlap/~$Sol Check 2.xlsx
Code/Overlap/Input Files/~$Experiment setups.xlsx
*.db-shm
*.db-wal
~$Results.xlsx
*.pper
R/.Rproj.user/7DA36B1A/rmd-outputs
R/.Rproj.user/7DA36B1A/saved_source_markers
R/.Rproj.user/7DA36B1A/sources/prop/531667D9
R/.Rproj.user/7DA36B1A/sources/prop/D7903CD5
R/.Rproj.user/7DA36B1A/sources/prop/INDEX
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/30E226D6
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/30E226D6-contents
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/4F7E4C44
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/4F7E4C44-contents
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/5BEA4D72
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/5BEA4D72-contents
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/8EF89AA3
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/8EF89AA3-contents
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/B2434551
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/B2434551-contents
R/.Rproj.user/7DA36B1A/sources/s-396C5D89/lock_file
R/.Rproj.user/7DA36B1A/viewer-cache/20C7AF84.Rdata
R/.Rproj.user/7DA36B1A/viewer-cache/3054643A.Rdata
R/.Rproj.user/7DA36B1A/viewer-cache/9B3743B1.Rdata
R/.Rproj.user/shared/notebooks/patch-chunk-names
R/.Rproj.user/shared/notebooks/paths
R/.Rproj.user/7DA36B1A/sources/per/t/D7810F70
R/.Rproj.user/7DA36B1A/sources/per/t/D7810F70-contents
R/.Rproj.user/7DA36B1A/sources/per/t/DC2755DB
R/.Rproj.user/7DA36B1A/sources/per/t/DC2755DB-contents
R/.Rproj.user/7DA36B1A/sources/prop/794D5E47
R/.Rproj.user/7DA36B1A/sources/prop/CD3C08F4
R/.Rproj.user/7DA36B1A/sources/per/t/48E77026
R/.Rproj.user/7DA36B1A/sources/per/t/48E77026-contents
R/.Rproj.user/7DA36B1A/viewer-cache/F754D778.Rdata
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/DC2755DB-contents
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/DC2755DB
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/48E77026
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/48E77026-contents
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/D7810F70
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/D7810F70-contents
R/.Rproj.user/7DA36B1A/sources/s-3BCD4C87/lock_file
